.container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  gap: 32px;
  background: #fff;
}
.form img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  padding: 30px 40px;
  background: white;
  border-radius: 1px;
  border: 1px solid #dbdbdb;
}
.error {
  color: #dc2626;
  font-size: 14px;
  text-align: center;
}
.form h1 {
  text-align: center;
}

.form input {
  padding: 11px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 268px;
  color: #737373;
  background: #fafafa;
}

.form button {
  padding: 7px;
  background: #0095f6;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 4px;
  margin-bottom: 50px;
}
.line {
  background: #dbdbdb;
  height: 1px;
  width: 100%;
}
.or {
  font-weight: 600;
  font-size: 13px;
  line-height: 115%;
  text-transform: uppercase;
  color: #737373;
}
.forgot {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #00376b;
}
.forms {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register {
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  width: 350px;
  padding: 20px 70px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
}
.link {
  font-weight: 600;
  margin-left: 5px;
  color: #0095f6;
}
